select, option {
  width: 70%;

 }

 body, html {background:#444; text-align:center; padding:50px 0;}

 /* The CSS */
 select {
     padding:10px;
     margin : 10px 2px 10px 120px;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius:4px;
     -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
     -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
     box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
     background: #f8f8f8;
     color:#888;
     border:none;
     outline:none;
     display: inline-block;
     -webkit-appearance:none;
     -moz-appearance:none;
     appearance:none;
     cursor:pointer;
 }

 /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
 @media (width:2560px) {
  select {padding-right:0px;
 margin-left:200px;}
 select, option{
   width: 80%;
 }
 .read {
   margin-left: 0px;
 }
}

 @media (width:320px) {
     select {padding-right:0px;
    margin-left:20px;}
    select, option{
      width: 50%;
    }
    .read {
      margin-left: 0px;
    }
 }

 @media (width:375px) {
  select {padding-right:0px;
 margin-left:30px;}
 select, option{
   width: 50%;
 }
 .read {
   margin-left: 0px;
 }
}

@media (width:425px) {
  select {padding-right:0px;
 margin-left:30px;}
 select, option{
   width: 60%;
 }
 .read {
   margin-left: 0px;
 }
}

@media (width:768px) {
  select {padding-right:0px;
 margin-left:30px;
overflow: hidden;
}
 select, option{
   width: 70%;

 }
 .read {
   margin-left: 0px;
 }
}


 label {position:relative}
 label:after {
     content:'<>';
     font:11px "Consolas", monospace;
     color:#aaa;
     -webkit-transform:rotate(90deg);
     -moz-transform:rotate(90deg);
     -ms-transform:rotate(90deg);
     transform:rotate(90deg);
     right:8px; top:2px;
     padding:0 0 2px;
     border-bottom:1px solid #ddd;
     position:absolute;
     pointer-events:none;
 }
 label:before {
     content:'';
     right:6px; top:0px;
     width:20px; height:20px;
     background:#f8f8f8;
     position:absolute;
     pointer-events:none;
     display:block;
 }
