
<div *ngIf="source_data" >
  <h1 style="text-align:center;">{{source_data.name}}</h1>

  <div *ngIf="articles">
  <ul *ngFor="let art of articles.articles">
    <li style="list-style:none;">
      <h4 class="underline">
        <a href={{art.url}} target="_blank">{{art.title}}</a>

      </h4>

      <img src={{art.urlToImage}} alt="Image" class="imagew" >
      <br />
      <br />
      <p>{{art.description}}</p>
      <a class="btn btn-primary" href="#">Save</a>


    </li>
  </ul>
</div>
</div>

